/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Manrope',sans-serif;

    color:white;

    background-image:url("assets/hero.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;

}

/* Oscurece un poco la imagen */

body::before{

    content:"";

    position:fixed;

    inset:0;

    background:linear-gradient(
        rgba(12,25,40,.45),
        rgba(12,25,40,.55)
    );

    z-index:-1;

}


/* HEADER */

header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:28px 8%;

    position:fixed;

    top:0;

    left:0;

    z-index:999;

    backdrop-filter:blur(18px);

    background:rgba(15,35,55,.18);

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    font-size:22px;

    font-weight:700;

    letter-spacing:1px;

}

nav{

    display:flex;

    gap:45px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

nav a:hover{

    opacity:.7;

}


/* HERO */

.hero{

    height:100vh;

}


/* ESTADÍSTICAS */

.stats{

    width:min(1200px,90%);

    margin:auto;

    margin-top:-90px;

    display:flex;

    justify-content:space-around;

    gap:40px;

    padding:45px;

    border-radius:26px;

    backdrop-filter:blur(25px);

    background:rgba(255,255,255,.12);

    border:1px solid rgba(255,255,255,.15);

    box-shadow:0 30px 60px rgba(0,0,0,.35);

}

.stats div{

    text-align:center;

}

.stats h2{

    font-size:54px;

    color:white;

}

.stats p{

    margin-top:12px;

    color:rgba(255,255,255,.8);

}
